* {
	font-family: 'Poppins', sans-serif;
}
:root{
  --bodyColor : #8ec5fc; 
  --containerColor : #ffffff;
  --buttonTogglerColor: #2d3436;
  --themeTogglerColor : white;
  --textColor : black;
  --boxColor: #d8afff;
  --buttonbackColor: deepskyblue;
  --buttonTextColor: black;
 


}
.darkMode{
 --bodyColor : #2d3436; 
 --containerColor: #636e72;
 --buttonTogglerColor: #8ec5fc;
 --themeTogglerColor : black;
 --textColor : white;
 --boxColor: #fd79a8;
 --buttonbackColor: #b2bec3;
 --buttonTextColor: black;




}
.themToggler{
  border: none;
  border-radius: 50%;
  background-color: var(--buttonTogglerColor);
  color: var(--themeTogglerColor);
  padding: 0.3125rem 0.625rem;
  position: absolute;
  top: 1rem;
  right: .5rem;
  transition: .3s;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bodyColor);
	height: 100vh;
  transition: .3s;
}
.btn {
	position: absolute;
	top: 70%;
	right: 50%;
	transform: translateX(50%);
	border: none;
	border-radius: 6px;
	background-color: var(--buttonbackColor);
  color: var(--buttonTextColor);
	padding: 0.9375rem 1.5625rem;
  font-weight: bold;
}
.btn:hover , .btn:focus {
	background-color: darkblue;
	color: #FFF;
  transition: .3s;
}
#resetBtn {
	display: none;
}
.container {
  box-shadow: 0 0 5px 3px gray;
	position: relative;
	border-radius: 5%;
	background-color: var(--containerColor);
	padding: 3%;
	width: 50%;
	max-width: 25rem;
	height: 25rem;
}
#message {
	text-align: center;
}
.players {
	display: flex;
	justify-content: space-evenly;
}
.dice {
	margin: 0 auto;
	border-radius: 5%;
	background-color: var(--boxColor);
	padding: 0;
	width: 5rem;
	height: 5rem;
	text-align: center;
	line-height: 2;
	font-size: 2.5rem;
	font-weight: 700;
  transition: .3s;
}
.active {
	box-shadow: 0 0 8px 5px gray;
}
.texts{
  color: var(--textColor);
}
@media screen and (min-width : 320px) and (max-width : 750px) {
  .texts{
    font-size: 1rem;
    
  }
  .players{
    display: flex;
    flex-direction: column;
  }
  .btn{
    margin-top: 2rem;
  }
  #message{
    font-size:.7rem ;
  }
  .themToggler{
    font-size: .7rem;
  }
}
